* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #fafafa;
    font-family: "Nunito", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
    background-color: #1f1f1fff;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.top {
    padding-left: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    text-decoration: none;
    color: #fafafa;
}

.header-logo {
    width: 35px;
}

.navigation {
    padding-right: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: #fafafa;
}

#theme {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: 0.5s ease;
}

#theme:hover {
    padding: 1rem;
    border-radius: 50%;
    background-color: #ea770b;
}

#active {
    padding: .6rem 1rem;
    background-color: #ea770b;
    border-radius: 9px;
}

/* .hero {

} */

.hero img {
    position: relative;
    /* max-width: 900px; */
    width: 100%;
    height: 550px;
    opacity: 0.2;
}

.overlay {
    position: absolute;
    /* opacity: 1; */
    top: 200px;
    left: 350px;
}

.top-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-overlay span {
    display: flex;
    align-items: center;
    background-color: #ffffff1a;
    padding: .6rem;
    border-radius: 50px;
    color: white;
    gap: 8px;
    font-size: 26px;
}


.top-overlay img {
    width: 30px;
    height: 30px;
}

.bottom-overlay {
    text-align: center;
    padding-top: 1rem;
}

.bottom-overlay h1 {
    font-size: 63px;
}

.tnt {
    color: #06ac5c;
}

.bottom-overlay p {
    font-size: 26px;
}

.first-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    place-content: center;
    padding: 3rem;
    gap: 3rem;
    /* display: flex; */
    /* justify-content: center; */
}


.first-card {
    text-align: center;
    background-color: #262626;
    padding: 2rem;
    border-radius: 18px;
}

.first-card img {
    width: 26px;
    background-color: #06ac5c1a;
    padding: 1rem;
    border-radius: 15px;
}

.first-card h3 {
    padding-bottom: 5px;
    font-size: 1.5rem;
}

.first-card p {
    font-size: 1.1rem;
    font-weight: 400;
}

.second-container {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-container h2 {
    font-size: 2.2rem;
    color: #fafafa;
    padding-bottom: 1.5rem;
}

.paragraph {
    padding: .3rem;
    font-weight: bolder;
}

.second-container div {
    max-width: 700px;
}

.second-container div p {
    font-size: 1.2rem;
    line-height: 30px;
    color: #a6a6a6;
}

.third-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 8.2rem;
    gap: 3rem;
}

.third {
    background-color: #262626;
    padding: 2rem 1rem;
    border-radius: 20px;
    border: 0.01px solid #504e4e;
    width: 500px;
    /* height: 230px; */
}

.third p {
    color: #a6a6a6;
}

.vision {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding-bottom: 1rem;
}

.vision img {
    width: 30px;
    background-color: #06ac5c1a;
    padding: 1rem;
    border-radius: 15px;
}

.mission img {
    background-color: #ea770b1a;
}

.fourth-container {
    text-align: center;
    display: grid;
    place-content: center;
}




.focus h2 {
    font-size: 2.7rem;
    font-weight: bolder;
    text-decoration: underline;
    padding-bottom: 1rem;
}

.focus p {
    color: #a6a6a6;
}

.fcard-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    place-items: center;
    gap: 29px;
    padding: 2rem 1rem;
}

.fcard {
    padding-top: 1.8rem;
    border-radius: 20px;
    background-color: #262626;
    width: 300px;
    height: 180px;
}

.fcard img {
    width: 30px;
    background-color: #06ac5c1a;
    padding: 1rem;
    border-radius: 15px;
}

.fifth {
    /* display: grid; */
    text-align: center;
    /* place-content: center; */
}

.search {
    text-align: center;
    padding: 2rem;
}

.search h2 {
    font-size: 2.2rem;
    font-weight: bolder;
    padding-bottom: 1.2rem;
}

.search p {
    color: #a6a6a6;
}

.search-cards {
    padding: 2rem 8rem 2rem;
    /* padding-top: 2rem; */
    /* padding-bottom: 2rem; */
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 30px;
}

.scard {
    padding: 1.3rem;
    display: flex;
    background-color: #262626;
    text-align: left;
    gap: 16px;
    align-items: flex-start;
    border-radius: 20px;
    width: 460px;
    border: 0.01px solid #504e4e;
}

.scard img {
    /* display: flex; */
    width: 30px;
    background-color: #06ac5c1a;
    padding: 1rem;
    border-radius: 15px;
}

.stext h2 {
    padding-bottom: .6rem;
}

.stext p {
    color: #a6a6a6;
}

.last {
    padding: 3rem;
}

.last h2 {
    font-weight: bolder;
    padding-bottom: 2rem;
}

.top-overlay .trek {
    padding: .2rem;
    padding: 0 2rem;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    background-color: #06ac5c;
    color: #fafafa;
    padding: 1rem;
    border: none;
    border-radius: 90px;
}

footer {
    background-color: #3333334d;
    border-top: .3px solid #504e4e;
    padding: 3rem;
    text-align: center;
}

footer p {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: .6rem;
}

.copyright {
    color: #a6a6a6;
    font-weight: normal;
}


@media only screen and (max-width: 700px) {

    .navigation{
        display: none;
    }

    .top{
        padding-left: 1rem;
    }

    /* main{
        max-width: 400px;
    } */
    .hero img{
        width: 400px;
        height: auto;
    }

    .overlay{
        top: 120px;
        left: 42px;
    }

    .top-overlay span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        font-size: 16px;
        padding: 0;
        padding: .2rem 0;
    }

    .top-overlay img{
        width: 20px;
    }

    .bottom-overlay h1{
        font-size: 2rem;
    }

    .bottom-overlay p{
        font-size:  1rem;
    }

    .third-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .fcard-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .focus {
        max-width: 400px;
    }

    .search{
        max-width: 400px;
    }

    .search-cards{
        display: flex;
        flex-direction: column;
    }

    .third{
        width: 300px;
    }

    .search-cards{
        padding: 2rem;
    }

    .scard{
        width: 300px;
    }

    .top-overlay .trek{
        font-size: 12px;
        padding: 0;
    }
    
}