* {
    padding: 0;
    margin: 0;
}

.light-mode{
    background-color: #fafafa;
    color: #1f1f1f;
}

.light-footer{
    border-top: .3px solid #c9e9d1;
}

body {
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #fafafa;
    font-family: "Nunito", sans-serif;
}

body.light-mode .top-overlay span{
    /* background-color: #fafafa; */
    color: #1f1f1f
}

body.light-mode .first-card,
body.light-mode .third,
body.light-mode .fcard,
body.light-mode .scard{
    background-color: #fafafa;
    border: .3px solid #c9e9d1;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    background-color: #1f1f1fff;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.top {
    padding-left: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    text-decoration: none;
    color: #fafafa;
}

.top p {
    font-size: 1.3rem;
    font-weight: bold;
}

.top p span {
    color: #06ac5c;
}

.header-logo {
    width: 35px;
}

body.light-mode .hamburger span,
body.light-mode .hamburger::before,
body.light-mode .hamburger::after{
    background: #1f1f1f;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #fafafa;
    cursor: pointer;
    padding: 0.5rem;
}

.hamburger span,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background: #fafafa;
    margin: 5px 0;
    transition: 0.5s ease;
}


.hamburger.active::before{
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span{
    opacity: 0;
}

.hamburger.active::after{
    transform: rotate(-45deg) translate(5px, -5px);
}

.navigation {
    padding-right: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

body.light-mode nav a{
    color: #1f1f1f;
}
body.light-mode .top p{
    color: #1f1f1f;
}

nav a {
    text-decoration: none;
    color: #fafafa;
}

#theme {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: 0.5s ease;
    width: fit-content;
}

#theme:hover {
    padding: 1rem;
    border-radius: 50%;
    background-color: #ea770b;
}

#active {
    padding: .6rem 1rem;
    background-color: #ea770b;
    border-radius: 9px;
    width: fit-content;
    
}

/* .hero {

} */

.hero {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.hero .heroimg {
    position: absolute;
    width: 100%;
    height: 550px;
    opacity: 0.2;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
}

.top-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-overlay span {
    display: flex;
    align-items: center;
    background-color: #ffffff1a;
    padding: .6rem;
    border-radius: 50px;
    color: white;
    gap: 8px;
    font-size: 26px;
}


.top-overlay img {
    width: 30px;
    height: 30px;
}

.bottom-overlay {
    text-align: center;
    padding-top: 1rem;
}

.bottom-overlay h1 {
    font-size: 63px;
}

.tnt {
    color: #06ac5c;
}

.bottom-overlay p {
    font-size: 26px;
}

.first-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    place-content: center;
    padding: 3rem;
    gap: 3rem;
    /* display: flex; */
    /* justify-content: center; */
}


.first-card {
    text-align: center;
    background-color: #262626;
    padding: 2rem;
    border-radius: 18px;
}

.first-card img {
    width: 26px;
    background-color: #06ac5c1a;
    padding: 1rem;
    border-radius: 15px;
}

.first-card h3 {
    padding-bottom: 5px;
    font-size: 1.5rem;
}

.first-card p {
    font-size: 1.1rem;
    font-weight: 400;
}

.second-container {
    text-align: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-container h2 {
    font-size: 2.2rem;
    /* color: #fafafa; */
    padding-bottom: 1.5rem;
}

.paragraph {
    padding: .3rem;
    font-weight: bolder;
}

.second-container div {
    max-width: 700px;
}

.second-container div p {
    font-size: 1.2rem;
    line-height: 30px;
    color: #a6a6a6;
}

.third-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 8.2rem;
    gap: 3rem;
}

.third {
    background-color: #262626;
    padding: 2rem 1rem;
    border-radius: 20px;
    border: 0.01px solid #504e4e;
    width: 500px;
    min-height: 230px;
}

.third p {
    color: #a6a6a6;
}

.vision {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding-bottom: 1rem;
}

.vision img {
    width: 30px;
    background-color: #06ac5c1a;
    padding: 1rem;
    border-radius: 15px;
}

.mission img {
    background-color: #ea770b1a;
}

.fourth-container {
    text-align: center;
    display: grid;
    place-content: center;
}

.focus h2 {
    font-size: 2.7rem;
    font-weight: bolder;
    text-decoration: underline;
    padding-bottom: 1rem;
}

.focus p {
    color: #a6a6a6;
}

.fcard-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    place-items: center;
    gap: 29px;
    padding: 2rem 1rem;
}

.fcard {
    padding-top: 1.8rem;
    border-radius: 20px;
    background-color: #262626;
    width: 300px;
    height: 180px;
}

.fcard img {
    width: 30px;
    background-color: #06ac5c1a;
    padding: 1rem;
    border-radius: 15px;
}

.fifth {
    text-align: center;
    display: grid;
    place-items: center;
}

/* .search {
    text-align: center; 
    padding: 2rem; 
} */

.search h2 {
    font-size: 2.2rem;
    font-weight: bolder;
    padding-bottom: 1.2rem;
}

.search p {
    color: #a6a6a6;
    padding-bottom: 3rem;
}

.search-cards {
    /* padding: 2rem 8rem 2rem; */
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 30px;
}

.scard {
    padding: 1.3rem;
    display: flex;
    background-color: #262626;
    text-align: left;
    gap: 16px;
    align-items: flex-start;
    border-radius: 20px;
    width: 460px;
    border: 0.01px solid #504e4e;
}

.scard img {
    /* display: flex; */
    width: 30px;
    background-color: #06ac5c1a;
    padding: 1rem;
    border-radius: 15px;
}

.stext h2 {
    padding-bottom: .6rem;
}

.stext p {
    color: #a6a6a6;
}

.last {
    padding: 3rem;
}

.last h2 {
    font-weight: bolder;
    padding-bottom: 2rem;
}

.top-overlay .trek {
    padding: .2rem;
    padding: 0 2rem;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    background-color: #06ac5c;
    color: #fafafa;
    padding: 1rem;
    border: none;
    border-radius: 90px;
}

footer {
    background-color: #3333334d;
    border-top: .3px solid #504e4e;
    padding: 3rem;
    text-align: center;
}

footer p {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: .6rem;
}

.copyright {
    color: #a6a6a6;
    font-weight: normal;
}


@media only screen and (max-width: 700px) {

    .navigation {
        display: none;
        width: 100%;
        padding-top: 1rem;
        border-top: .3px solid #504e4e;
        gap: 30px;
    }

    body.light-mode .navigation{
        border-top: .3px solid #c9e9d1;
    }

    .navigation.active{
        display: flex;
        justify-content: left;
        flex-direction: column;
        text-align: left;
    }

    .navigation a{
        display: block;
        text-align: left;
        padding-left: 1rem;
        width: 100%;
        box-sizing: border-box;
    }

    #active, #theme{
        align-self: flex-start;
        margin-left:   1rem;
    }



    .top {
        padding-left: 1rem;
    }

    .hamburger {
        display: block;
    }


    /* main{
        max-width: 400px;
    } */

    .hero {
        height: 390px;
    }

    .hero .heroimg {
        max-width: 700px;
        width: 100%;
        height: 390px;
    }

    .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* top: 170px; */
        /* left: 42px; */
    }

    .top-overlay span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 20px;
        font-size: 16px;
        padding: 0;
        padding: .2rem 0;
    }

    .top-overlay img {
        width: 20px;
    }

    .bottom-overlay h1 {
        font-size: 2rem;
    }

    .bottom-overlay p {
        font-size: 1rem;
    }

    .third-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .fcard-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .focus {
        max-width: 400px;
    }

    .search {
        max-width: 400px;
    }

    .search-cards {
        display: flex;
        flex-direction: column;
    }

    .third {
        width: 300px;
    }

    .search-cards {
        /* padding: 2rem 0; */
        /* display: flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .scard {
        width: 300px;
    }

    .top-overlay .trek {
        font-size: 12px;
        padding: 7px;
    }

}